@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --white: #f4f4f4;
    --gold : #71571a;
}

*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background: rgb(20,62,15);
    background: linear-gradient(120deg, rgba(20,62,15,1) 0%, rgba(35,153,20,0.6) 50%, rgba(20,62,15,1) 100%); 
    color: var(--white);
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    filter: drop-shadow(1px 1px 2px #71571a);
}

/* logo */
header .logo{
    width: 200px;
}

header .logo img{
    width: 100%;
    transition: all ease-in-out .5s;
}
header .logo img:hover{
    filter: drop-shadow(2px 2px 4px var(--white));

}

/* navLinks */

.navLinks{
    display: flex;
    gap: 2rem;
}

.navLinks li a{
    display: inline-block;
    padding: 1rem;
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    background: transparent;
    border-bottom: 2px transparent;
    transition: .5s ease-in-out;
}

.navLinks li a:hover{
    border-bottom: 2px solid var(--white);
    transform: scale(1.1);/*
    background: rgb(113,87,26);
    background: linear-gradient(120deg, rgba(113,87,26,1) 0%, rgba(76,59,21,1) 50%, rgba(113,87,26,1) 100%);*/
}

/* bars menu */
#bars-menu{
    color: #f4f4f4;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/* hero section */
section{
    padding: 5rem;
}

.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.hero-text *{
    margin-bottom: 8px;
}

.hero-text h4{
    font-size: 1rem;
    font-weight: 400;
}

.hero-text h3{
    font-size: 1.2rem;
    font-weight: 700;
}

.hero-text h2{
    font-weight: 700;
    font-size: 1.5rem;
}

.hero-text p{
    font-style: italic;
    font-weight: 500;
    font-size: 1.2rem;
    opacity: .8;
}

.btn{
    display: inline-block;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 500;
    transition: .5s ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
    background: rgb(0,90,0);
    background: linear-gradient(95deg, rgba(0,90,0,1) 0%, rgba(141,182,0,0.5) 50%, rgba(0,90,0,1) 100%); 
}

.btn i{
    margin-left: 8px;
    font-size: 1.2rem;
}

.cta{
    background: rgb(113,87,26);
    background: linear-gradient(120deg, rgba(113,87,26,1) 0%, rgba(76,59,21,1) 50%, rgba(113,87,26,1) 100%);
    margin-right: 12px; 
    vertical-align: middle;
}

footer{
    display: flex;
    padding: 1rem 4rem;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,90,0);
    background: linear-gradient(95deg, rgba(0,90,0,.5) 0%, rgba(141,182,0,.3) 50%, rgba(0,90,0,.5) 100%);
}


footer .logo{
    width: 100px;
}

footer .logo img{
    width: 100%;
}

footer p{
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
}

footer .social-media a{
    color: var(--white);
    font-size: 1.2rem;
    margin-right: 12px;
    transition: .2s ease-in-out;
}
footer .social-media a:hover{
   font-size: 1.3rem;
}